:root {
  --body-bg-color: #cccccc;
  --main-bg-color: white;
  --sidebar-bg-color: #e1e3e3;
  --text-color: black;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-bg-color);
  font-family: "Open Sans", sans-serif;
}

main {
  background-color: var(--main-bg-color);
  margin: 0 auto;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.1rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin: 0;
}

p {
  font-size: 1.1rem;
}
