.sidebar,
.content {
  float: left;
  height: 100%;
  padding-top: 2.8rem;
}

.sidebar {
  width: 35%;
  // padding-left: 5rem;
  background-color: var(--sidebar-bg-color);
}

.content {
  width: 65%;
}
