.heading-primary {
  line-height: 1;
  &--main {
    display: inherit;
    letter-spacing: 3px;
    line-height: 1.3;
    font-weight: 400;
  }

  &--sub {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
