main {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  &[size="A4"] {
    width: 21cm;
    height: 29.7cm;
    @media print {
      margin: 0 auto;
      box-shadow: unset;
    }
  }
}

.sidebar,
.content {
  float: left;
  height: 100%;
  padding-top: 2.8rem;
}

.sidebar {
  width: 35%;
  background-color: var(--sidebar-bg-color);
  & > .break-line {
    height: 4px;
    margin: 25px 0;
    background-color: #fff;
  }
}

.content {
  width: 65%;
  & > section {
    margin-bottom: 25px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-style: italic;

  span {
    &:nth-child(1) {
      &::before {
        @include icon;
        font: var(--fa-font-solid);
        content: "\f3c5";
        margin: 0 0.2rem;
      }
    }
    &:nth-child(2) {
      &::before {
        @include icon;
        font: var(--fa-font-solid);
        content: "\f073";
        margin: 0 0.5rem;
      }
    }
  }
}

@page {
  size: A4;
  margin: 0;
}
