@use '../abstract/mixins.scss' as mixins;

.print__button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 60px;
  bottom: 40px;
  border: none;
  background-color: rgb(255, 64, 129);
  @media print {
    display: none;
  }
  &:active {
    transform: scale(0.8);
    transition: transform 180ms ease-in-out;
  }
  &:hover {
    background-color: rgb(255, 64, 129, 0.8);
    transition: background-color 180ms ease-in-out;
  }
  &::before {
    @include mixins.icon;
    font: var(--fa-font-solid);
    content: "\f02f";
    font-size: 2rem;
    color: white;
  }
}

.download__button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 60px;
  bottom: 120px;
  border: none;
  background-color: rgb(255, 64, 129);
  @media print {
    display: none;
  }
  &:active {
    transform: scale(0.8);
    transition: transform 180ms ease-in-out;
  }
  &:hover {
    background-color: rgb(255, 64, 129, 0.8);
    transition: background-color 180ms ease-in-out;
  }
  &::before {
    @include mixins.icon;
    font: var(--fa-font-solid);
    content: "\f019";
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);

  }
}