.contact {
  &__item {
    font-size: 1.5rem;
    margin: 1.2rem 0;
    svg {
      &:nth-of-type(1) {
        color: var(--secondary-color);
      }
      &:nth-of-type(2) {
        color: #fff;
      }
    }
  }
}
