@use '../abstract/mixins.scss' as mixins;

.experience {
  margin: 0 3.456rem;

  &__heading {
    margin-top: 0;
    @include mixins.heading-position;
  }

  &__details {
    margin-bottom: 1.5rem;
  }
}
