.skills {
  &__subheading {
    text-transform: capitalize;
  }
  &__set {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    & > span {
      font-size: 1.3rem;
      color: rgb(75, 85, 99);
      background-color: rgb(243, 244, 246);
      padding: 4px 8px;
      font-weight: 700;
      border-radius: 4px;
      margin: 5px 5px 0 0;
    }
  }
}
