// NOTE: refactor same with experience
%icon {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

// NOTE: refactor all h2 (--course)? into secondary-heading
.education {
  margin: 0 3.456rem;
  &__text {
    &--course {
      font-size: 1.6rem;
      text-transform: none;
    }
    &--college {
      font-size: 1.5rem;
      font-weight: 500;
    }
    &--location {
      font-size: 1.5rem;
      font-style: italic;
      &::before {
        @extend %icon;
        font: var(--fa-font-solid);
        content: "\f3c5";
        margin: 0 0.2rem;
      }
    }
    &--complete {
      font-size: 1.5rem;
      font-style: italic;
      float: right;
      &::before {
        @extend %icon;
        font: var(--fa-font-solid);
        content: "\f073";
        margin: 0 0.5rem;
      }
    }
  }
  &__row {
    padding: 0.5rem 0;
  }
}

// .education-info {
//   &__text {
//     margin: 0;

//     span {
//       display: inline-block;

//       &:last-child {
//         font-style: italic;
//       }
//     }
//   }
//   &__subtitle {
//     text-transform: none;
//   }
// }
