%icon {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.experience {
  margin: 0 3.456rem;
  &__heading {
    margin-top: 0;
  }
  &__row {
    padding: 0.5rem 0;
  }
  &__details {
    margin: 1rem 0;
    &--role {
      font-size: 1.6rem;
    }
    &--company {
      font-size: 1.5rem;
      font-weight: 500;
    }
    &--location {
      font-size: 1.5rem;
      font-style: italic;
      &::before {
        @extend %icon;
        font: var(--fa-font-solid);
        content: "\f3c5";
        margin: 0 0.2rem;
      }
    }
    &--date {
      font-size: 1.5rem;
      font-style: italic;
      float: right;

      &::before {
        @extend %icon;
        font: var(--fa-font-solid);
        content: "\f073";
        margin: 0 0.5rem;
      }
    }
  }

  &__list {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  &__item {
    margin-bottom: 0.768rem;
  }
}
